.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 18px 60px;
  background: white;
  box-shadow: var(--shadow-sm);

  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo {
  font-size: 28px;
  font-weight: 700;
  color: var(--primary);
}

.menu {
  display: flex;
  gap: 30px;
  list-style: none;
}

.menu li {
  cursor: pointer;
  color: #111827;
}

.cart-btn {
  padding: 10px 16px;
  border: none;
  border-radius: 12px;
  background: var(--primary);
  color: black;
  cursor: pointer;
  margin-right: 10px;
}

.login-btn {
  padding: 10px 16px;
  border: none;
  border-radius: 12px;
  background: var(--primary);
  color: black;
  cursor: pointer;
}