.hero {
  height: 60vh;

  display: flex;
  align-items: center;
  justify-content: center;

  text-align: center;

  background: linear-gradient(
    to right,
    #fef3c7,
    #fde68a
  );
}

.hero-content h1 {
  font-size: 48px;
  margin-bottom: 10px;
}

.hero-content p {
  font-size: 18px;
  color: #444;
  margin-bottom: 20px;
}

.hero-content button {
  padding: 12px 20px;

  border: none;
  border-radius: 12px;

  background: #111;
  color: white;

  cursor: pointer;

  transition: 0.3s;
}

.hero-content button:hover {
  transform: scale(1.05);
}